<div class="form-group">
  <label for="flags.scene-weather.timeHour">Hour of Day</label>
  <div class="form-fields">
    <input type="range" data-dtype="Number" min="0" max="23" step="1" value="0">
    <input type="number" data-dtype="Number" class="range-value" style="flex: 0 1 48px;"
      name="flags.scene-weather.timeHour" placeholder="defaults.timeHour" value="data.timeHour">
  </div>
</div>