<div class="form-group">
  <label for="flags.scene-weather.timeSeason">Season of Year</label>
  <div class="form-fields">
    <select name="flags.scene-weather.timeSeason" data-dtype="Number">
      {{selectOptions timeSeasons selected=data.timeSeason nameAttr="id" labelAttr="name" localize=true}}
    </select>
  </div>
</div>