<div id="wrapper">
  <div id="displayContainer">
    <div id="meteoHeadline">{{localize 'dialogs.meteoUi.title'}}</div>
    <div class="meteoContainer">
      <canvas id="meteogramCanvas" width="600" height="300"></canvas>
      <div id="controls">
        <div class="sceneweather-slider"></div>
      </div>
    </div>
  </div>
</div>