<div id="wrapper">
  <div id="displayContainer">
    <div id="weatherHeadline">Current Weather</div>
    <div id="weatherContainer">
      {{#if hasPerceivers}}
      <div data-func="prevPerc" class="percControl"><i class="fas fa-solid fa-caret-left"></i></div>
      {{/if}}
      <div id="weatherDetail">detail</div>
      {{#if hasPerceivers}}
      <div data-func="nextPerc" class="percControl"><i class="fas fa-solid fa-caret-right"></i></div>
      {{/if}}
    </div>
  </div>

  {{#if hasControls}}
  <div id="weatherControls">
    <div id="weatherFlex">
      <div id="weatherTimeBack">
        <ul>
          <li data-func="time" data-base="-86400" title="-1 day"><i class="fas fa-regular fa-backward-step"></i></li>
          <li data-func="time" data-base="-3600" title="-1 hour"><i class="fas fa-solid fa-chevrons-left"></i></li>
          <li data-func="time" data-base="-60" title="-1 minute"><i class="fas fa-solid fa-chevron-left"></i></li>
        </ul>
      </div>
      <div id="weatherControlElements">
        <ul>
          <li data-func="chatSingle" title="Send to player"><i class="fas fa-solid fa-comment"></i></li>
          <li data-func="chatAll" title="Send to everyone"><i class="fas fa-solid fa-user-group"></i></li>
          <li data-func="clipboard" title="Copy to clipboard"><i class="fas fa-solid fa-copy"></i></li>
        </ul>
      </div>
      <div id="weatherTimeFwd">
        <ul>
          <li data-func="time" data-base="60" title="+1 minute"><i class="fas fa-solid fa-chevron-right"></i></li>
          <li data-func="time" data-base="3600" title="+1 hour"><i class="fas fa-solid fa-chevrons-right"></i></li>
          <li data-func="time" data-base="86400" title="+1 day"><i class="fas fa-regular fa-forward-step"></i></li>
        </ul>
      </div>
    </div>
  </div>
  {{/if}}

</div>