<form class="flexcol">
  <div id="weatherMeteogram">
    {{> weatherMeteogram }}
  </div>
  <canvas id="meteogramCanvas" width="600" height="400"></canvas>
  <div id="displayContainer">
    Hello World
    <div id="dragHandle">DH</div>
</form>