.sceneWeather-fieldSet {
  border: 1px solid #999;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0 15px 5px 15px;
  display: block;
}

.sceneWeather-fieldSet>.hint {
  font-size: var(--font-size-11);
  font-style: italic;
  max-width: 500px;
  line-height: var(--line-height-12);
  color: var(--color-text-dark-secondary);
  margin: 3px 0;
}



.unit {
  flex: 0 1 65px !important;
  padding-right: 40px !important;
  text-align: right !important;
}

.unit+span {
  position: absolute;
  right: 45px;
  display: inline-block;
}

.unit.very-small {
  flex: 0 1 44px !important;
  padding-right: 14px !important;
}

.unit.small {
  flex: 0 1 48px !important;
  padding-right: 20px !important;
}

.unit.medium {
  flex: 0 1 60px !important;
  padding-right: 20px !important;
}


.sceneWeather-collapsibleModeOption {
  display: none;
}

.sceneWeather-collapsibleModeOption.active {
  display: block;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.3;
  tab-index: -1;
}

.key {
  padding: 5px 10px;
  border: 3px solid var(--color-text-light-6);
  border-radius: 5px;
  font-size: 0.6em;
  text-align: center;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  vertical-align: middle;
}

#scene-weather-app,
#scene-weather-meteo-app {
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.5);
  height: 50;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  animation: fadeOut 3s ease-out;
  transition: opacity 1s;
  transition-delay: 2s;
  border: 0;
  border-image-source: '';
  border-image-width: 0;
  z-index: 20 !important;
  font-size: 14px;
  pointer-events: all;
}

#weatherInfo {
  font-size: 0.6rem;
  color: var(--color-text-light-3);
}

#meteoInfo {
  border: 1px solid white;
}

#scene-weather-app.pinned {
  position: relative;
  left: initial !important;
  top: initial !important;
  margin: 0 0 10px 15px;
}

#scene-weather-app:hover,
#scene-weather-meteo-app:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

#scene-weather-app .window-header,
#scene-weather-meteo-app .window-header {
  display: none;
}

#scene-weather-app.window-app:after,
#scene-weather-meteo-app.window-app:after {
  content: none;
}

#scene-weather-app .window-content,
#scene-weather-meteo-app .window-content {
  border-radius: 5px;
  padding: 0;
  background: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: none;
  border: none;
  background-attachment: unset;
}

#scene-weather-app .window-content>form,
#scene-weather-meteo-app .window-content>form {
  padding: 0;
  font-size: 0.8rem;
}

#scene-weather-app #displayContainer,
#scene-weather-meteo-app #displayContainer {
  position: absolute;
  top: 1px;
  /*display: flex;*/
  justify-content: center;
  margin: 0;
  padding: 0 4px 0 4px;
  border: 0;
  outline: 0;
  width: 100%;
  background: #444;
  height: 18px;
  text-align: center;
  box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.6), inset 0 -5px 8px -5px rgba(0, 0, 0, 0.5);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  to {
    opacity: var(--SMLTME-opacity);
  }
}

@keyframes jiggle {
  0% {
    transform-origin: center;
    transform: rotate(-0.5deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform-origin: center;
    transform: rotate(1deg);
    animation-timing-function: ease-out;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}









.sceneweather-slider {
  height: 6px !important;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
  background: #999999 !important;
  border-radius: 3px !important;
  border: 1px solid #111 !important;
  margin-bottom: 22px !important;
  /* top: -5px !important; */
}

.sceneweather-slider .noUi-connect {
  background: #c85019;
  cursor: ew-resize;
}

.sceneweather-slider .noUi-origin {
  /* width: 10%; */
  /* height: 10%; */
}

.sceneweather-slider .noUi-handle {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
  border: 1px solid #000000 !important;
  height: 12px !important;
  width: 12px !important;
  border-radius: 2px !important;
  top: -4px !important;
  right: -6px !important;
  background: #c85019 !important;
  cursor: grab !important;
}

.sceneweather-slider .noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: url(/ui/denim-dark-090.png) repeat;
  color: #efefe0;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  padding: 1px 5px 1px 5px;
  text-align: center;
  white-space: nowrap;
  /* transform: translate(-50%, 200%); */
  bottom: -180% !important;
}

/* Hide markers on slider handles */
.sceneweather-slider .noUi-handle::before,
.sceneweather-slider .noUi-handle::after {
  display: none;
}