/// ----------
/// ALL THE VARIABLES
/// ----------

$foundry-border-color: #4ec51f;
$border-color: rgba(180, 180, 180, 0.5);
$input-border-color: rgba(245, 245, 245, 0.15);
$font-stack: Ogirema;
$font-color: #131517;
$font-edit-color: #093f55;
$glow: 0 0 3px #FF0000, 0 0 5px #0000FF;
$bggrad: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(189, 107, 107, 0.267) 50%, #2294b133 80%);
